.jumbotron {
    background-image: url("../images/buttons.jpg");
    background-size: cover;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 75px;
    color: rgb(255, 255, 255)
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgb(0, 0, 0);
  }